# Test Load excel with multiple tabs

## Simple excel - No clutter

### Imports

In [1]:
import pandas as pd
import os

### Load excel

In [4]:
excel_file = pd.ExcelFile(os.path.join("..","data_in", "iris_row.xlsx"))
excel_file.sheet_names

['1dpi', '2dpi', '3dpi']

In [31]:
pd.concat(
    [excel_file.parse(sn).assign(dpi=int(sn[:-3])) for sn in excel_file.sheet_names]
).reset_index()

,index,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),dpi
0,0,5.1,3.5,1.4,0.2,1
1,1,4.9,3.0,1.4,0.2,1
2,2,4.7,3.2,1.3,0.2,1
3,3,4.6,3.1,1.5,0.2,1
4,4,5.0,3.6,1.4,0.2,1
...,...,...,...,...,...,...
445,145,6.7,3.0,5.2,2.3,3
446,146,6.3,2.5,5.0,1.9,3
447,147,6.5,3.0,5.2,2.0,3
448,148,6.2,3.4,5.4,2.3,3
449,149,5.9,3.0,5.1,1.8,3